# Copyright (c) 2022 ZMK Contributors
# SPDX-License-Identifier: MIT

if SHIELD_MABLE_DONGLE

config ZMK_KEYBOARD_NAME
    default "mable"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

config ZMK_USB
    default y

endif
 
if SHIELD_MABLE_LEFT

config ZMK_KEYBOARD_NAME
	default "mable left"

endif

if SHIELD_MABLE_RIGHT

config ZMK_KEYBOARD_NAME
	default "mable right"

endif

if SHIELD_MABLE_LEFT || SHIELD_MABLE_RIGHT || SHIELD_MABLE_DONGLE

config ZMK_SPLIT
	default y

config ZMK_BLE
    default y
	
endif