# Copyright (c) 2020 The ZMK Contributors
# SPDX-License-Identifier: MIT

config SHIELD_MABLE_LEFT
    def_bool $(shields_list_contains,mable_left)

config SHIELD_MABLE_RIGHT
    def_bool $(shields_list_contains,mable_right)